body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    margin-top: 0%;
}
.big-font{
    font-size: 65px;
}
.color{
    color:orange;
}    
.for-color-left{
    border-left: 8px solid;
    border-image: linear-gradient( red, brown);
    border-image-slice: 1;
    border-image-outset: 15px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width{
    padding-left: 2%;
    width:40%;
}
.half-width img{
    width: 85%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
p{
    font-size: 25px;
}
#bottom-line{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
}
h1{
    font-size: 32px;
}
.background{
    width: fit-content;
    margin: 2.5%;
    padding-left: 3%;
    padding-right: 5%;
}
#bg-effects-3{
    background-color:hsl(37, 100%, 93%);
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 25px;
}
#bg-effects-2{
    background-color:rgb(255, 230, 235);
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 25px;
}
#bg-effects-1{
    background-color:rgb(230, 228, 228);
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 25px;
}
.top-banner{
    background-image: url(images/shapes/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
}
.font-size{
    font-size: 45px;
}
.half-width-2{
    padding-right: 20%;
    width:70%;
}
.last-banner{
    background-image: url(images/shapes/shape-1.png);
    background-position: right;
    background-repeat: no-repeat;  
}
.font-size-2{
    font-size: 25px
}
.bg-effects-4{
    background-color: black;
}
.color-2{
    color: white;
    font-size: 40px;
    font-family:monospace
}
.color-3{
    color:white;
    font-size: 20px;
}
.body-legit{
    margin: 6.5%;
}
.color-4{
    color:tomato;
    font-size: 40px;
    font-family:monospace
}